@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-dark text-white;
        background: linear-gradient(
            170deg,
            #000000 0%,
            #1a0f00 20%,
            #472600 40%,
            #cc7000 50%,
            #d97b00 75%,
            #e68300 100%
        );
        background-size: 200% 100%;
        animation: gradientAnimation 10s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    }

    .logo-preload {
        content: url('/images/logo.png');
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
        z-index: -1;
    }
}

@layer components {
    .btn-primary {
        @apply bg-primary-600 hover:bg-primary-700 text-white;
    }

    .card {
        @apply bg-dark-light hover:bg-dark-lighter;
    }
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Ajoutez ces classes si nécessaire */
.bg-dark-lighter {
    @apply bg-dark-lighter/80 backdrop-blur-sm;
}

.bg-dark {
    @apply bg-dark/80 backdrop-blur-sm;
}
